<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 style="margin: 0;">Edit Review</h1>
    </div>
    <div class="card-body">
      <%= render 'form', review: @review %>
    </div>
    <div class="card-footer">
      <%= link_to 'View', @review, class: 'btn btn-outline' %>
      <%= link_to 'Back to List', reviews_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
