<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 style="margin: 0;">Edit Order</h1>
    </div>
    <div class="card-body">
      <%= render 'form', order: @order %>
    </div>
    <div class="card-footer">
      <%= link_to 'View', @order, class: 'btn btn-outline' %>
      <%= link_to 'Back to List', orders_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
